body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: #f3edf7; 
  color: #4b4453; 
}

.header {
  background: #b76e79; 
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #f1d0d3; 
  margin: 0 1rem;
  text-decoration: none;
}

.nav a:hover {
  color: #e1b3b7; 
}

.footer {
  background: #b76e79; 
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.m1 {
  text-align: center;
}

.banner {
  background: url('https://filebroker-cdn.lazada.co.id/kf/Sebd03388376e470b868c480009b938bci.jpg') no-repeat center center; 
  background-size: cover; 
  padding: 4rem 0; 
  text-align: center;
  color: #fff; 
  position: relative;
  z-index: 1;
  width: 100%; 
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(183, 110, 121, 0.7); 
  z-index: -1;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 1.5rem;
  margin-top: 0;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem; 
  padding: 2rem;
}

.product-card {
  border: 2px solid #f2c6d3;
  padding: 0.8rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; 
  width: 220px; 
  height: auto; 
  background-color: #f8d3dc;
  box-shadow: 0 4px 8px rgb(244, 122, 255);
  border-radius: 10px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-info {
  padding: 10px 0; 
  text-align: center;
  color: rgb(244, 122, 255);
  margin-bottom: 1rem; 
}

.product-card:hover {
  transform: scale(1.05);
  border: 2px solid #b76e79;
  box-shadow: 0 8px 16px rgb(244, 122, 255);
}

button {
  background: #b76e79;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem; 
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 6px;
  margin-top: 10px; 
}

button:hover {
  background: #a05b6c;
  transform: scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
